swagger: '2.0'
info:
  title: "ams-api"
  version: '1'
schemes:
- "https"
paths:

  # ------------------ ALGORITHM BEGIN ------------------------------   

  /algorithms/{id}:
    get:
      summary: Get algorithm by id
      produces:
      - application/json
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: string
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/AlgorithmResponse"
                
  /algorithms/add:
    post:
      summary: Create algorithm
      produces:
      - application/json
      consumes:
      - application/json
      parameters:      
      - in: "body"        
        name: "AlgorithmAddRequest"        
        required: true        
        schema:          
          $ref: "#/definitions/AlgorithmAddRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/AlgorithmAddResponse"
                
  /algorithms/reclassify:
    post:
      summary: Reclassify algorithm 
      produces:
      - application/json
      consumes:
      - application/json
      parameters:     
      - in: "body"
        name: "AlgorithmReclassifyRequest"
        required: true
        schema:          
          $ref: "#/definitions/AlgorithmReclassifyRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/AlgorithmReclassifyResponse"
  
    
  /algorithms/remove/{id}:
     post:
      summary: Remove algorithm by id
      produces:
      - application/json
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: string
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/AlgorithmRemoveResponse"
  
  
  
  # ------------------ ALGORITHM END ------------------------------
  
  # ------------------ Implementations BEGIN ------------------------------
  
  /implementations/{id}:
    get:
      produces:
      - application/json
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: string
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/ImplementationResponse"
            
                
  /implementations/add:
    post:
      summary: Create Implementation
      produces:
      - application/json
      consumes:
      - application/json
      parameters:      
      - in: "body"        
        name: "ImplementationAddRequest"        
        required: true        
        schema:          
          $ref: "#/definitions/ImplementationAddRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/ImplementationAddResponse"
  
                
  /implementations/remove/{id}:
    get:
      produces:
      - application/json
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: string
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/ImplementationRemoveResponse"
                
  # ------------------ Implementations END ------------------------------  
  
  # ------------------ Benchmarks BEGIN ------------------------------
  
  /benchmarks/{id}:
    get:
      produces:
      - application/json
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: string
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/BenchmarkResponse"
            
                
  /benchmarks/add:
    post:
      summary: Create Implementation
      produces:
      - application/json
      consumes:
      - application/json
      parameters:      
      - in: "body"        
        name: "BenchmarkAddRequest"        
        required: true        
        schema:          
          $ref: "#/definitions/BenchmarkAddRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/BenchmarkAddResponse"
  
                
  /benchmarks/remove/{id}:
    get:
      produces:
      - application/json
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: string
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/BenchmarkRemoveResponse"
                
  # ------------------ Benchmarks END ------------------------------  
  
  
  # ------------------ Machine Configurations BEGIN ------------------------------
  
  /machine_configurations/{id}:
    get:
      produces:
      - application/json
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: string
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/MachineConfigurationResponse"
            
                
  /machine_configurations/add:
    post:
      summary: Create Implementation
      produces:
      - application/json
      consumes:
      - application/json
      parameters:      
      - in: "body"        
        name: "MachineConfigurationAddRequest"        
        required: true        
        schema:          
          $ref: "#/definitions/MachineConfigurationAddRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/MachineConfigurationAddResponse"
  
                
  /machine_configurations/remove/{id}:
    get:
      produces:
      - application/json
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: string
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/MachineConfigurationRemoveResponse"
                
  # ------------------ Machine Configurations END ------------------------------  
  
 # ------------------ Problem Instances Begin ---------------------------
  /problem_instances/{id}:
     get:
      summary: Get problem instance by id
      produces:
      - application/json
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: string
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/ProblemInstanceResponse"
            
            
  /problem_instances/add:
    post:
      summary: Create problem instance
      produces:
      - application/json
      consumes:
      - application/json
      parameters:      
      - in: "body"        
        name: "AddProblemInstanceRequest"        
        required: true        
        schema:          
          $ref: "#/definitions/ProblemInstanceAddRequest"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/ProblemInstanceAddResponse"
    
  /problem_instances/remove/{id}:
     post:
      summary: Remove problem instance 
      produces:
      - application/json
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: string
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/ProblemInstanceRemoveResponse"
 
 
 
 # ------------------ Problem Instance End ------------------------------     
             
definitions:
    
    # ------------------ Algorithms BEGIN ------------------------------   
    
    AlgorithmResponse:
      type: object
      properties:
        algorithmId:
          type: string
        status:
          type: string
        error:
          type: string
          
    AlgorithmAddRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        parentClassificationId:
          type: string
          
    AlgorithmAddResponse:
      type: object
      properties:
        algorithmId:
          type: string
        status:
          type: string
        error:
          type: string
        
          
    AlgorithmRemoveResponse:
      type: object
      properties:
        deletedImplementations:
          type: array
          items:
            type: string
        deletedProblemInstances:
          type: array
          items:
            type: string
        deletedBenchmarks:
          type: array
          items:
            type: string
        status:
          type: string
        error:
          type: string
    
    AlgorithmReclassifyResponse:
      type: object
      properties:
        algorithmId:
          type: string
        status:
          type: string
        error:
          type: string
          
    AlgorithmReclassifyRequest:
      type: object
      properties:
        algorithmId:
          type: string
        newClassificationId:
          type: string
        
      
    # ------------------ Algorithms END ------------------------------ 
    
    # ------------------ Implementations BEGIN ------------------------------     

    ImplementationResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        sourceCode: 
          type: string
        parentAlgorithm: 
          type: string
          
        statusCode:
          type: integer
        error:
          type: string
          
    ImplementationAddRequest:
      type: object
      properties:
        name:
          type: string
        parentAlgorithm: 
          type: string
        sourceCode: 
          type: string
          
    ImplementationAddResponse:
      type: object
      properties:
        implementationId:
          type: string
          
        statusCode:
          type: integer
        error:
          type: string
          
    ImplementationRemoveResponse:
      type: object
      properties:
        deletedBenchmarks:
          type: array
          items:
            type: string
          
    
    # ------------------ Implementations END ------------------------------
    
    # ------------------ Benchmarks BEGIN ------------------------------
    
    BenchmarkResponse:
      type: object
      properties:
            
        benchmarkId:
          type: string
        name:
          type: string
        parentImplementation:
          type: string
        languageName: 
          type: string
        executionTime: 
          type: number
        memoryUsage:
          type: number
        machineConfigurationId:
          type: string

        statusCode:
          type: integer
        error:
          type: string
          
    BenchmarkAddRequest:
      type: object
      properties:
        name:
          type: string
        parentImplementation:
          type: string
        languageName: 
          type: string
        executionTime: 
          type: number
        memoryUsage:
          type: number
        machineConfigurationId:
          type: string
          
    BenchmarkAddResponse:
      type: object
      properties:
        benchmarkId:
          type: string
        statusCode:
          type: integer
        error:
          type: string
          
    BenchmarkRemoveResponse:
      type: object
      properties:
        statusCode:
          type: integer
        error:
          type: string
          
    
    
    # ------------------ Benchmarks END ------------------------------
    
    # ------------------ Machine Configurations BEGIN ------------------------------
    
    MachineConfigurationResponse:
      type: object
      properties:

        memorySize: 
          type: string
        CPU:
          type: string
        L1Size: 
          type: string
        L2Size:
          type: string
        L3Size:
          type: string
        cores: 
          type: integer
        threads: 
          type: integer

        statusCode:
          type: integer
        error:
          type: string
          
    MachineConfigurationAddRequest:
      type: object
      properties:
      
        memorySize: 
          type: string
        CPU:
          type: string
        L1Size: 
          type: string
        L2Size:
          type: string
        L3Size:
          type: string
        cores: 
          type: integer
        threads: 
          type: integer
          
    MachineConfigurationAddResponse:
      type: object
      properties:

        machineConfigurationId:
          type: string
        statusCode:
          type: integer
        error:
          type: string
          
    MachineConfigurationRemoveResponse:
      type: object
      properties:

        statusCode:
          type: integer
        error:
          type: string
    
    # ------------------ Machine Configurations END ------------------------------
    
    
    # ----------------- Problem Instance Begin ----------------------------
    ProblemInstanceResponse:
      type: object
      properties:
        name:
          type: string
        datasetSize: 
          type: string
        problemType: 
          type: string
        description:
          type: string
        dataset: 
          type: string
        statusCode:
          type: integer
        error:
          type: string
    
    ProblemInstanceAddRequest:
      type: object
      properties:
        name:
          type: string
        datasetSize: 
          type: string
        problemType: 
          type: string
        description:
          type: string
        dataset:
          type: string
    
    ProblemInstanceAddResponse:
      type: object
      properties:
        problemInstanceId:
          type: string
        statusCode:
          type: integer
        error:
          type: string
          
    ProblemInstanceRemoveResponse:
      type: object
      required:
      - error
      - statusCode
      properties:
        statusCode:
          type: integer
        error:
          type: string
    
    
    # ----------------- Problem Instance End ------------------------------
# Added by API Auto Mocking Plugin
host: virtserver.swaggerhub.com
# basePath: /CS509-SAO/AlgoHub/1.0.0
# Added by API Auto Mocking Plugin
basePath: /wpi-cs509-sao/algohub-api/1