body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.treeview > .toggle {
  pointer-events: all;
  cursor: pointer;
}
.treeview > .toggle:hover {
  color: #63b1de;
  fill: #63b1de;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px linear-gradient(lightgray, gray); 
border-radius: 10px;
width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: lightgray; 
border-radius: 10px;
width: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: gray;
width: 10px;

}